<!DOCTYPE html>
<html>
<head>
	<title>HOME</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
	<style type="text/css">
		h1 {
			font-family: 'Dancing Script', cursive;
		}
		p {
			font-family: 'Dancing Script', cursive;
			background: yellow;
			color: green;
			font-size: 250%;
		}
	</style>
</head>
<body>
	<h1>This is home page</h1>
	{{greeting}}
	<p>Some text</p>
</body>
</html>